*{margin: 0;padding: 0;}
#main{
	position: relative;
	margin: 0 auto;
}
.box{
	padding: 15px 0 0 15px;
	float: left;
}
.pic{
	padding: 10px;
	border: 1px #ccc solid;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
}
.pic img{
	width: 168px;
	height: auto;
}